.App {
  min-height: 100vh !important;
}

.navbar,
.footer {
  background-color: darkgray !important;
}

.navbar-item:hover {
  color: black !important;
}

.navbar-item-2 {
  padding: 0.5rem 0.5rem !important;
  line-height: normal !important;
  margin: auto 0.5rem auto 0.5rem !important;
  border-radius: 0.3rem !important;
  height: fit-content !important;
}

.navbar-item-2:hover {
  background-color: lightgray;
  color: black !important;
  box-shadow: inset -1px 1px 5px 0px black;
}

.navbar-item-3:hover {
  box-shadow: -1px 1px 5px 0px black;
  transform: scale(1.025);
}

.main-container {
  padding: 0 1rem !important;
}

.breeds-demo {
  margin: 1rem !important;
  width: 45% !important;
  height: fit-content;
}

.demo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.sec-1 {
  display: flex;
  justify-content: space-evenly;
}

.subtitle {
  font-weight: bold;
}

.about {
  margin: 0 8rem !important;
}

.nav-links {
  text-decoration: underline;
}

.doc {
  height: 575vh;
  display: flex;
}

.doc-menu {
  position: fixed;
  left: 0;
  width: 25%;
  height: 100vh;
  overflow-y: auto;
  padding-top: 2rem;
  border-right: 1px solid gray;
}

.doc-body {
  width: 75%;
  position: relative;
  padding-top: 2rem;
  position: absolute;
  right: 0;
}

.is-fixed {
  position: fixed;
  width: 100%;
  top: 0;
}

.is-bot {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 2rem 1rem;
}

.footer {
  padding: 2rem 1rem;
}

.sub-menu {
  padding-left: 1rem;
}

.sub-sub-menu {
  padding-left: 2rem;
}
